html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}

 /* Color palette: */
:root {
  --background: #AEC8A4;
  --block: #E7EFC7;
  --section: #8A784E;
  --footer: #3B3B1A;
}

body {
  /* Default Font  */
  background-color: var(--background);
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-style: normal;

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-between;
}
footer{
    background-color: var(--footer);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Fonts */
.playwrite-au-qld-font {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

