html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}

 /* Color palette: */
:root {
  --background: #AEC8A4;
  --block: #E7EFC7;
  --section: #8A784E;
  --footer: #3B3B1A;
}

body {
  /* Default Font  */
  background-color: var(--background);
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-style: normal;

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-between;
}
footer{
    background-color: var(--footer);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Menu panel */
#menu {
  background-color: var(--block);
  list-style-type: none;
  text-wrap: nowrap;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#menu li {
  padding-inline: 20px;
}
#menu a {
  font-weight: 400;
  font-size: 21px;
  color: #3B3B1A;
  text-decoration-line: none;
  display: flex;
}
#menu a:hover {
  color: #bdbdbd;
}

#logo{
  width: 100px;
  height: 100px;
}

/* Fonts */
.playwrite-au-qld-font {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--block);
  text-decoration: none;
}
#aplikuj_link{
  color: #3B3B1A;
  text-decoration: none; 
  font-weight: 500;
  font-size: 21px;
}